body {
  background: #fff;
  color: #444141;
  margin: 0;
  padding: 0;
}

a {
  color: #5b3996;
}

a:hover {
  color: #a284d6;
}

.banner-container, .banner-container div {
  margin: 0;
  padding: 0;
}

.banner-container img {
  width: 100%;
}

.navbar-header {
  width: 100%;
}

.view-cupcakes-list .views-row {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: dotted #ccc 2px;
}

.view-cupcakes-list .views-field-title a {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.view-cupcakes-list .views-field-nothing a {
  color: #c70f0f;
  font-weight: 600;
}

.view-cupcakes-list .views-field {
  margin: 5px 0;
}

footer {
  background: #d3faf7;
  text-align: center;
}

div.author {
  
}